.bgcolor {
    color: #FFFFFF;
    background-image:"/web/19981202230410im_/http://www.google.com/alpha.jpg" ;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
